<!-- Parallax Template  -->
<nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo white-text">PlantParenthood</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
            <li><a href="./search">Search for a Plant</a></li>
            <li><a href="./signup">Sign Up</a></li>
            <li><a href="./login">Login</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav nav-side">
            <li><a href="#">Navbar Link</a></li>
            <li><a href="./search">Search for a Plant</a></li>
            <li><a href="./signup">Sign Up</a></li>
            <li><a href="./login">Login</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

{{!-- <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center green-text text-lighten-2">Plant Parenthood</h1>
            <div class="row center">
                <h5 class="header col s12 dark">Find your perfect plant today!</h5>
            </div>

        </div>
    </div>
    <div class="parallax"><img src="./images/greenbg.png" alt="Plant themed background"></div>
</div> --}}


<div id="search">
    <div>
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 strong" id="search-results-text">Search Results</h5>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col s12">
            <div class="card horizontal center-container">
                <div class="card-image">
                    <img
                        src="https://images.homedepot-static.com/productImages/2b455774-a2f8-45ef-97fe-dc40944f26fe/svn/house-plants-26844-64_1000.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content teal white-text">
                        <h5>Plant Name: {{Common-Name}}</h5>
                        <h6>Scientific Name: {{Scientific-Name}}</h6>
                        <p>Sun Needs: {{Sunlight-Needs}}</p>
                        <p>Soil Moisture {{Moisture-Levels}}</p>
                        <p>Is it toxic? {{Toxic}}</p>
                        <p>Maintenance Level: {{Maintenance-Level}}</p>
                        <p>Price Range: {{Affordability}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card horizontal center-container">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>placeholder</p>
                        {{#each plants}}
                        <h1>Plant Name: {{Common-Name}}</h1>
                        <h2>Scientific Name: {{Scientific-Name}}</h2>
                        <p>Sun Needs: {{Sunlight-Needs}}</p>
                        <p>Soil Moisture {{Moisture-Levels}}</p>
                        <p>Is it toxic? {{Toxic}}</p>
                        <p>Maintenance Level: {{Maintenance-Level}}</p>
                        <p>Price Range: {{Affordability}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Start a New Search</h4>
                <div class="row center">
                    <a href="./search" id="download-button"
                        class="btn-large waves-effect waves-light teal lighten-1">Search</a>
                </div>
            </div>
        </div>

    </div>
</div>



<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            <a class="white-text text-lighten-3" href="./index">Plant Parenthood</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./materializeJS/materialize.js"></script>
<script src="./materializeJS/init.js"></script>