<!-- header-->
<div class="bg-green-500 p-4 flex justify-between items-center">

    <!-- left side -->
    <div class="flex items-center">
        <a href="#" class="inline-block p-2 font-bold text-green-800 hover:text-green-700 mr-2">Plant Parenthood</a>
        <a href="#" class="inline-block p-2 text-green-800 hover:text-green-700 mr-2">Profile</a>
        <a href="./results" class="inline-block p-2 text-green-800 hover:text-green-700">Results</a>
    </div>

    <!--   right side -->
    <div class="hidden md:block">
        <a href="#" class="inline-block p-2 text-green-800 hover:text-green-700 mr-2">Login</a>
        <a href="./signup"
            class="inline-block py-2 px-4 text-yellow-700 bg-yellow-400 hover:bg-yellow-300 hover:text-yellow-800 rounded transition ease-in duration-150">Sign
            Up</a>
    </div>

</div>

<!-- hero ============================== -->
<div class="md:flex py-20 px-10 bg-green-200 text-green-100">

    <!--  Plant Results -->
    <div id="plantResults">
        <div class="block bg-green-400 rounded mr-2 py-10 px-10">
            <!--  Plant Photo  -->
            <div class="inline-block px-10">
                <p>plant photo</p>
                <img href="http://tierraplants.com/wp-content/uploads/2017/05/final-monsteraplant.jpg">
            </div>

            <!-- Plant Info -->
            <div class="inline-block">
                {{#each plants}}
                <h1>Plant Name: {{Common-Name}}</h1>
                <h2>Scientific Name: {{Scientific-Name}}</h2>
                <p>Sun Needs: {{Sunlight-Needs}}</p>
                <p>Soil Moisture {{Moisture-Levels}}</p>
                <p>Is it toxic? {{Toxic}}</p>
                <p>Maintenance Level: {{Maintenance-Level}}</p>
                <p>Price Range: {{Affordability}}</p>
            </div>

        </div>
    </div>

</div>


</div>


<!-- footer + newsletter ============================== -->
<div class="p-10 bg-green-900 text-green-400 flex justify-between">

    <!--   right -->
    <div class="flex items-center">
        Copyright &copy; Plant Parenthood 2020
    </div>
</div>